body {
    background-color: #f5f2eb;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

p {
    width: 900px;
    text-align: left;
    font-size: 20px;
}

.navigation {
    background-color: blue;
    display: block;
    padding: 10px 10px 10px 10px;
    position: fixed;
    width: 100%;
    /*margin-top: -8px;*/
}

.navigation button .link {
    border-radius: 2px;
    background-color: #f5f2eb;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 23px;
    transition: 0.5s;
    font-weight: bold;
    text-align: center;
}

.navigation button .link:hover {
    background-color: rgb(172, 48, 48);
    color: black;
    opacity: 1;
}

.vanpic {
    width: 600px;
    height: 335px;
    margin-left: 25%;
}

a {
    transition: 0.5s;
}

a:hover {
    cursor: pointer;
    color: blue;
    opacity: 40%;
}

div {
    margin-bottom: 50px;
}

.titleOfPage {
    text-align: center;
    color: rgba(0, 0, 255, 0.796);
    text-decoration: underline;
    text-decoration-color:  rgba(255, 0, 0, 0.867);
    border: none;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow:auto;
    font-size: 40px;
    text-shadow: 2px 2px;
    padding-top: 20px;
}

.whatwedo {
    padding-top: 35px;
    margin-top: 160px;
}

.daysweoperate {
    padding-top: 35px;
    margin-top: 160px;
}

.daysVanRuns {
    padding-top: 35px;
}

.volunteers {
    padding-top: 35px;
}

table {
    background-color: rgb(251, 250, 248);
    border-radius: 10px;
}